<div class="container">
  <div class="form-control mb-3">
    <h2 class="form-label">Stupid Coaching</h2>
    <form action="/answer" data-turbo="false">
      <label class="form-label">Ask your coach anything</label>
      <input class="form-control mb-3" type="text" name="question">
      <input class="btn btn-primary mb-3" type="submit" value="Ask!">
    </form>
  </div>
</div>


<%# TODO: Ask user they want to do %>
<%# TODO: If User Answer ends with ? %>
<%# TODO: Coach answer to be: I dont care get dressed go work %>

<%# params %>
